<%- contentFor('body') %>

<div class="row jumbotron">
  <div class="col-lg text-center">
    <h2>Créditos</h2>
  </div>
</div>
<div class="row">
  <div
    style="
  margin-top: 5%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 5%;
  "
    class="col-lg"
  >
    <div class="form-group">
      <label for="exampleInputEmail1"><b>Autores/Authors:</b></label>
      <label class="form-control">João Catlos Matias Santos nº 1800260 </label>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1"
        ><b>Projecto orientado por/Project Oriented By:</b></label
      >
      <label class="form-control">Professor Vitor Cardoso</label>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1"><b>Unidade Curricular:</b></label>
      <label class="form-control">Programação Web/ Web Programming</label>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1"><b>Curso:</b></label>
      <label class="form-control"
        >Mestrado em Tecnologias e Sistemas Informáticos Web / Master in Web
        Technologies and Systems
      </label>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1"><b>Universidade:</b></label>
      <label class="form-control"
        >Universidade Aberta, Portugal, 2020 / Open University of Portugal, 2020
      </label>
    </div>
  </div>
</div>
